<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <!-- Configuración de la base de datos -->
    <property name="hibernate.connection.url">jdbc:mysql://j-programmers-bd-karina.mysql.database.azure.com:3306/j-programmers?useSSL=true</property>
    <property name="hibernate.connection.username">karina</property>
    <property name="hibernate.connection.password">k1.k2.k3.</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
     <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

    <!-- Configuración del mapeo de clases de entidad -->
    <mapping class="grupofp.modelo.Articulo"/>
  </session-factory>
</hibernate-configuration>

